* {
  font-family: "Merriweather", serif;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

/* 날씨 */

#weather {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  padding: 15px 25px 0px 0px;
  align-items: flex-end;
}

#weather span {
  width: fit-content;
}

#weather span:first-child {
  margin-bottom: 5px;
  text-transform: uppercase;
  color: whitesmoke;
  font-weight: bold;
  letter-spacing: 1.2px;
}

#weather span:last-child {
  text-transform: uppercase;
  color: whitesmoke;
  font-weight: bold;
  letter-spacing: 1.2px;
}

/* 시계 */

#clock {
  font-size: 10em;
  color: whitesmoke;
  text-align: center;
  margin: 0;
}

/* Greeting */

.login_form {
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login_form input {
  width: 800px;
  height: 80px;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  font-size: 4em;
  text-align: center;
  color: whitesmoke;
}

.login_form input:focus {
  outline: none;
}

.login_form input::placeholder {
  color: whitesmoke;
  letter-spacing: 0.8px;
  opacity: 0.7;
}

.login_form.hidden {
  display: none;
}

#greeting {
  font-size: 4em;
  margin: 20px;
  text-align: center;
  color: whitesmoke;
}

/* Movie quote */

img {
  top: 0;
  left: 0;
  z-index: -10000;
  position: absolute;
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.quote_wrapper {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  position: fixed;
  bottom: 15px;
}

.quote_wrapper span {
  color: whitesmoke;
  font-weight: bold;
  opacity: 0.8;
  font-size: 1.1em;
  font-style: italic;
}

.quote_wrapper span:first-child {
  margin-right: 15px;
}

/* ToDo List */

.todo_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#todo_form {
  width: 100%;
  text-align: center;
}

#todo_form input {
  border: none;
  border-bottom: 1px solid whitesmoke;
  background-color: transparent;
  font-size: 0.8em;
  color: whitesmoke;
  width: 500px;
  height: 30px;
  text-align: center;
  letter-spacing: 0.8px;
}

#todo_form input:focus {
  outline: none;
}

#todo_form input::placeholder {
  color: whitesmoke;
  letter-spacing: 0.8px;
  opacity: 0.7;
}

#todo_list {
  height: 180px;
  width: 500px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#todo_list li {
  color: whitesmoke;
  margin-bottom: 8px;
}

#todo_list li span {
  font-size: 0.8em;
  color: whitesmoke;
  letter-spacing: 0.8px;
  margin-right: 5px;
}

#todo_list li button {
  width: 25px;
  height: 20px;
  font-size: 0.5em;
  background-color: transparent;
  color: whitesmoke;
  font-weight: bold;
  border: 0.4px solid whitesmoke;
  border-radius: 5px;
}

#todo_list li button:hover {
  cursor: pointer;
  background-color: white;
  opacity: 0.8;
  color: black;
  transition: 0.5s;
}
